html {
  font-size: 92.5%;
  box-sizing: border-box;
}

body {
  margin: 0%;
  font: 1rem helvetica;
  height: 100vh;
}

.App {
  display: grid;
  width: 100%;
  flex-wrap: wrap;

}

.Main {
  display: grid;
  grid-template-columns: 20% 50% 30%;
 
}

/*Left_Sidebar */

.Left_Sidebar {
  display:grid;
  height: 50vh;
  background-color: #fff;
  color: black;
  justify-content: center ;
  
  
}

.Left_Sidebar > div {
  margin-top: 15px;
}

.Icons {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.Icons > div {
  margin: 0 12px;
}

.Icons :hover {
   color: red;
}

.btn {
  background-color: #1DA1F2;
  color: white;
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}
 
/*  Main_Area */
.Main_Area {
    height: 40rem;
    
}

.Home {
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  background-color: white;

}
.home {
  font-size: 1.2rem;
  font-weight: 600;
}

.Create_post {
  height: 6rem;
  display: grid;
  background-color: white;
  border: 1px grey solid;
  padding: .5rem;
}

.Add_text {
  display: flex;
  align-items: center;
}

input[type="Post"] {
  height: 2rem;
  border: none;
  width: 100%;
}

input::placeholder{
  font-size: 1rem;
}
.Btns
{
  display: flex;
  justify-content: space-between;
}

.Icon {
  display: flex;
}

.Icon > div {
  padding: 0 12px;
}

.btns-create {
  background-color: #1DA1F2;
  border: none;
  height: 2rem;
  padding: 0 18px;
  border-radius:  1rem;
  font-size: 1rem;
  color: white;

}

.posted_Area {
  border: 1px grey;
}

.ProFile {
  display: flex;
  justify-content: space-between;
  padding: .5rem;

}

.User_Detail {
  display: flex;
  align-items: center;
}

.User_Detail > div {
  padding: 0 2px;
}

.User_Name {
  font-size: .9rem;
  font-weight: 600;
}
.User_id {

}



/*Main_Area */
.Right_Sidebar {
  display:grid;
  height: 100vh;
  background-color: rgb(14, 221, 24);
  color: black;

}

